<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>162942984536-9e29irkqpdk365bg5jm5i8698qtk9ef9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162942984536-9e29irkqpdk365bg5jm5i8698qtk9ef9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpRAkNYPfLZUd2LwzQ2gGQW1J-fNMf9_g</string>
	<key>GCM_SENDER_ID</key>
	<string>162942984536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingbytes.KifuSF</string>
	<key>PROJECT_ID</key>
	<string>kifusf-20956</string>
	<key>STORAGE_BUCKET</key>
	<string>kifusf-20956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162942984536:ios:eba562852f07dde5</string>
	<key>DATABASE_URL</key>
	<string>https://kifusf-20956.firebaseio.com</string>
</dict>
</plist>